# Backend
gxp-map-video-backend/data/
gxp-map-video-backend/*.exe
gxp-map-video-backend/server

# Frontend
gxp-map-video-frontend/node_modules/
gxp-map-video-frontend/dist/
gxp-map-video-frontend/.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
refer/
